ROCHETTE
LEVEQUE

# Chargement des Données

Nous importons le dataset pour obtenir une vue d'ensemble de ses caractéristiques et de ses variables.

In [39]:
data <- read.csv("../data/support2.csv")
head(data)

  age      death sex    hospdead slos d.time dzgroup
1 62.84998 0     male   0         5   2029   Lung Cancer
2 60.33899 1     female 1         4      4   Cirrhosis
3 52.74698 1     female 0        17     47   Cirrhosis
4 42.38498 1     female 0         3    133   Lung Cancer
5 79.88495 0     female 0        16   2029   ARF/MOSF w/Sepsis
6 93.01599 1     male   1         4      4   Coma
  dzclass            num.co edu ⋯ crea      sod ph       glucose bun urine adlp
1 Cancer             0      11  ⋯ 1.1999512 141 7.459961 NA      NA  NA     7
2 COPD/CHF/Cirrhosis 2      12  ⋯ 5.5000000 132 7.250000 NA      NA  NA    NA
3 COPD/CHF/Cirrhosis 2      12  ⋯ 2.0000000 134 7.459961 NA      NA  NA     1
4 Cancer             2      11  ⋯ 0.7999268 139       NA NA      NA  NA     0
5 ARF/MOSF           1      NA  ⋯ 0.7999268 143 7.509766 NA      NA  NA    NA
6 Coma               1      14  ⋯ 0.6999512 140 7.659180 NA      NA  NA    NA
  adls sfdm2               adlsc
1 7                        7
2 1    <2 mo. follow-up    1
3 0    <2 mo. follow-up    0
4 0    no(M2 and SIP pres) 0
5 2    no(M2 and SIP pres) 2
6 1    <2 mo. follow-up    1

# On va utiliser tout le dataset, en rajoutant des valeurs moyennes

In [40]:
data$pafi[is.na(data$pafi)] <- 333.3
data$alb[is.na(data$alb)] <- 3.5
data$bun[is.na(data$bun) <- 6.51]
data$urine[is.na(data$urine)] <- 2502

[1] NA

In [41]:
data[] <- lapply(data, function(x) {
  if (is.numeric(x)) {
    x[is.na(x)] <- median(x, na.rm = TRUE) 
  }
  return(x)
})
head(data)

  age      death sex    hospdead slos d.time dzgroup
1 62.84998 0     male   0         5   2029   Lung Cancer
2 60.33899 1     female 1         4      4   Cirrhosis
3 52.74698 1     female 0        17     47   Cirrhosis
4 42.38498 1     female 0         3    133   Lung Cancer
5 79.88495 0     female 0        16   2029   ARF/MOSF w/Sepsis
6 93.01599 1     male   1         4      4   Coma
  dzclass            num.co edu ⋯ crea      sod ph       glucose bun urine adlp
1 Cancer             0      11  ⋯ 1.1999512 141 7.459961 135     23  2502  7
2 COPD/CHF/Cirrhosis 2      12  ⋯ 5.5000000 132 7.250000 135     23  2502  0
3 COPD/CHF/Cirrhosis 2      12  ⋯ 2.0000000 134 7.459961 135     23  2502  1
4 Cancer             2      11  ⋯ 0.7999268 139 7.419922 135     23  2502  0
5 ARF/MOSF           1      12  ⋯ 0.7999268 143 7.509766 135     23  2502  0
6 Coma               1      14  ⋯ 0.6999512 140 7.659180 135     23  2502  0
  adls sfdm2               adlsc
1 7                        7
2 1    <2 mo. follow-up    1
3 0    <2 mo. follow-up    0
4 0    no(M2 and SIP pres) 0
5 2    no(M2 and SIP pres) 2
6 1    <2 mo. follow-up    1

On regarde le nombre de colonnes vides

In [42]:
colonnes_chaine <- sapply(data, is.character)

nombres_vides <- sapply(data[, colonnes_chaine], function(x) sum(x == ""))

# Afficher les résultats
resultats <- data.frame(
  colonne = names(nombres_vides),
  nombre_vides = nombres_vides
)
resultats

        colonne nombre_vides
sex     sex        0
dzgroup dzgroup    0
dzclass dzclass    0
income  income  2982
race    race      42
ca      ca         0
dnr     dnr       30
sfdm2   sfdm2   1400

On va retirer la colonne income, et les lignes ou race et dnr sont vides. On va aussi tester sans la colonne sfmd2 pour l'instant

In [43]:
data <- data[, !names(data) %in% "income"]
data <- data[, !names(data) %in% "sfdm2"]
data <- data[!(is.na(data$race) | data$race == ""), ]
data <- data[!(is.na(data$dnr) | data$dnr == ""), ]

colonnes_chaine <- sapply(data, is.character)

nombres_vides <- sapply(data[, colonnes_chaine], function(x) sum(x == ""))

# Afficher les résultats
resultats <- data.frame(
  colonne = names(nombres_vides),
  nombre_vides = nombres_vides
)
resultats

        colonne nombre_vides
sex     sex     0
dzgroup dzgroup 0
dzclass dzclass 0
race    race    0
ca      ca      0
dnr     dnr     0

In [44]:
head(data)

  age      death sex    hospdead slos d.time dzgroup
1 62.84998 0     male   0         5   2029   Lung Cancer
3 52.74698 1     female 0        17     47   Cirrhosis
4 42.38498 1     female 0         3    133   Lung Cancer
5 79.88495 0     female 0        16   2029   ARF/MOSF w/Sepsis
6 93.01599 1     male   1         4      4   Coma
7 62.37097 1     male   0         9    659   CHF
  dzclass            num.co edu ⋯ bili      crea      sod ph       glucose bun
1 Cancer             0      11  ⋯ 0.1999817 1.1999512 141 7.459961 135     23
3 COPD/CHF/Cirrhosis 2      12  ⋯ 2.1997070 2.0000000 134 7.459961 135     23
4 Cancer             2      11  ⋯ 0.8999023 0.7999268 139 7.419922 135     23
5 ARF/MOSF           1      12  ⋯ 0.8999023 0.7999268 143 7.509766 135     23
6 Coma               1      14  ⋯ 0.8999023 0.6999512 140 7.659180 135     23
7 COPD/CHF/Cirrhosis 1      14  ⋯ 0.3999634 1.5998535 132 7.479492 135     23
  urine adlp adls adlsc
1 2502  7    7    7
3 2502  1    0    0
4 2502  0    0    0
5 2502  0    2    2
6 2502  0    1    1
7 2502  0    1    1