In [21]:
data <- read.csv("../data/support2.csv")
head(data)

  age      death sex    hospdead slos d.time dzgroup
1 62.84998 0     male   0         5   2029   Lung Cancer
2 60.33899 1     female 1         4      4   Cirrhosis
3 52.74698 1     female 0        17     47   Cirrhosis
4 42.38498 1     female 0         3    133   Lung Cancer
5 79.88495 0     female 0        16   2029   ARF/MOSF w/Sepsis
6 93.01599 1     male   1         4      4   Coma
  dzclass            num.co edu ⋯ crea      sod ph       glucose bun urine adlp
1 Cancer             0      11  ⋯ 1.1999512 141 7.459961 NA      NA  NA     7
2 COPD/CHF/Cirrhosis 2      12  ⋯ 5.5000000 132 7.250000 NA      NA  NA    NA
3 COPD/CHF/Cirrhosis 2      12  ⋯ 2.0000000 134 7.459961 NA      NA  NA     1
4 Cancer             2      11  ⋯ 0.7999268 139       NA NA      NA  NA     0
5 ARF/MOSF           1      NA  ⋯ 0.7999268 143 7.509766 NA      NA  NA    NA
6 Coma               1      14  ⋯ 0.6999512 140 7.659180 NA      NA  NA    NA
  adls sfdm2               adlsc
1 7                        7
2 1    <2 mo. follow-up    1
3 0    <2 mo. follow-up    0
4 0    no(M2 and SIP pres) 0
5 2    no(M2 and SIP pres) 2
6 1    <2 mo. follow-up    1

In [22]:
data$pafi[is.na(data$pafi)] <- 333.3
data$alb[is.na(data$alb)] <- 3.5
data$bun[is.na(data$bun)] <- 6.51
data$urine[is.na(data$urine)] <- 2502

In [23]:
data[] <- lapply(data, function(x) {
  if (is.numeric(x)) {
    x[is.na(x)] <- median(x, na.rm = TRUE) 
  }
  return(x)
})
head(data)

  age      death sex    hospdead slos d.time dzgroup
1 62.84998 0     male   0         5   2029   Lung Cancer
2 60.33899 1     female 1         4      4   Cirrhosis
3 52.74698 1     female 0        17     47   Cirrhosis
4 42.38498 1     female 0         3    133   Lung Cancer
5 79.88495 0     female 0        16   2029   ARF/MOSF w/Sepsis
6 93.01599 1     male   1         4      4   Coma
  dzclass            num.co edu ⋯ crea      sod ph       glucose bun  urine
1 Cancer             0      11  ⋯ 1.1999512 141 7.459961 135     6.51 2502
2 COPD/CHF/Cirrhosis 2      12  ⋯ 5.5000000 132 7.250000 135     6.51 2502
3 COPD/CHF/Cirrhosis 2      12  ⋯ 2.0000000 134 7.459961 135     6.51 2502
4 Cancer             2      11  ⋯ 0.7999268 139 7.419922 135     6.51 2502
5 ARF/MOSF           1      12  ⋯ 0.7999268 143 7.509766 135     6.51 2502
6 Coma               1      14  ⋯ 0.6999512 140 7.659180 135     6.51 2502
  adlp adls sfdm2               adlsc
1 7    7                        7
2 0    1    <2 mo. follow-up    1
3 1    0    <2 mo. follow-up    0
4 0    0    no(M2 and SIP pres) 0
5 0    2    no(M2 and SIP pres) 2
6 0    1    <2 mo. follow-up    1

In [24]:
colonnes_chaine <- sapply(data, is.character)

nombres_vides <- sapply(data[, colonnes_chaine], function(x) sum(x == ""))

# Afficher les résultats
resultats <- data.frame(
  colonne = names(nombres_vides),
  nombre_vides = nombres_vides
)
resultats

        colonne nombre_vides
sex     sex        0
dzgroup dzgroup    0
dzclass dzclass    0
income  income  2982
race    race      42
ca      ca         0
dnr     dnr       30
sfdm2   sfdm2   1400

In [25]:
data <- data[, !names(data) %in% "income"]
#data <- data[, !names(data) %in% "sfdm2"]
data <- data[!(is.na(data$sfdm2) | data$sfdm2 == ""), ]
data <- data[!(is.na(data$race) | data$race == ""), ]
data <- data[!(is.na(data$dnr) | data$dnr == ""), ]

colonnes_chaine <- sapply(data, is.character)

nombres_vides <- sapply(data[, colonnes_chaine], function(x) sum(x == ""))

# Afficher les résultats
resultats <- data.frame(
  colonne = names(nombres_vides),
  nombre_vides = nombres_vides
)
resultats

        colonne nombre_vides
sex     sex     0
dzgroup dzgroup 0
dzclass dzclass 0
race    race    0
ca      ca      0
dnr     dnr     0
sfdm2   sfdm2   0

In [26]:
A <- ifelse(data$hospdead > 0.5, 1, 0)
A <- A[A == 1]
B <- ifelse(data$hospdead < 0.5, 1, 0)
B <- B[B == 1]

A_t = length(A)/nrow(data)
B_t = length(B)/nrow(data)

inv_At = 1/A_t *B_t
inv_Bt = 1

inv_At

[1] 2.333043

In [27]:
library(caret)

set.seed(123)
index <- createDataPartition(data$hospdead, p = 0.7, list = FALSE)

train_data2 <- data[index, ]
test_data2 <- data[-index, ]

In [28]:
weights <- ifelse(train_data2$hospdead == 1, 1, inv_At)

In [29]:
library(glmnet)

In [30]:
formula <- hospdead ~ . - 1

x_train <- model.matrix(formula, data = train_data2)
y_train <- train_data2$hospdead

x_test <- model.matrix(formula, data = test_data2)
y_test <- test_data2$hospdead

In [39]:
ridge_model <- glmnet(x_train, y_train, family = "binomial", alpha = 0)

cv_ridge <- cv.glmnet(x_train, y_train, family = "binomial", alpha = 0)

best_lambda_ridge <- cv_ridge$lambda.min

final_ridge_model <- glmnet(x_train, y_train, family = "binomial", alpha = 0, lambda = best_lambda_ridge, weights = weights)

In [38]:
lasso_model <- glmnet(x_train, y_train, family = "binomial", alpha = 1)

cv_lasso <- cv.glmnet(x_train, y_train, family = "binomial", alpha = 1)

best_lambda_lasso <- cv_lasso$lambda.min

final_lasso_model <- glmnet(x_train, y_train, family = "binomial", alpha = 1, lambda = best_lambda_lasso)

In [40]:
ridge_preds <- predict(final_ridge_model, s = best_lambda_ridge, newx = x_test, type = "response")
ridge_classes <- ifelse(ridge_preds > 0.5, 1, 0)

conf_matrix_ridge <- table(Actual = y_test, Predicted = ridge_classes)

In [41]:
print("Confusion Matrix for Ridge:")
print(conf_matrix_ridge)

accuracy_ridge <- sum(diag(conf_matrix_ridge)) / sum(conf_matrix_ridge)

print(paste("Accuracy for Ridge:", accuracy_ridge))

[1] "Confusion Matrix for Ridge:"
      Predicted
Actual    0    1
     0 1576   38
     1  188  491
[1] "Accuracy for Ridge: 0.901439162668993"